/* PADRÕES DO TEMPLATE */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: url(#{ resource [ 'imagens:fundo.png' ]
}

);
}
#container {
	width: 963px;
	height: 100%;
	margin: 0 auto;
}

#titulo {
	float: center;
	font-size: 25pt;
	font-variant: small-caps;
	font-weight: bold;
}

#corpo {
	min-height: 300px;
	background: white;
}

#rodape {
	background: url(#{ resource [ 'imagens:fundo_rodape.png' ]}) 
	repeat-x; 
	height:200px;
	margin-top:5px;
	padding:10px;	
	text-align:center;	
	font-size:12px;
}

.info {
	font-weight: bold;
	color: green;
}

.warn {
	font-weight: bold;
	color: #FFCC00;
}

.fatal,.error {
	font-weight: bold;
	color: red;
}

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top:3px;
  border-top-style:solid;
  border-top-color:#fa4f00;
  background: #000000 100% 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  height: 52px;
  width: auto;
}

#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  background: #000000;

  display: inline-block;
  font-family: Verdana, 'Lucida Grande';
  font-weight: 500;
  font-size: 15px;
  color: #fa4f00;
  line-height: 52px;
  padding: 0 28px;
  text-decoration: none;
}

#cssmenu ul {
  list-style: none;
  box-shadow: inset 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 0 whitesmoke;
  -webkit-box-shadow: inset 0 1px 0 whitesmoke;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:first-child a {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}
#cssmenu > ul > li.active a,
#cssmenu > ul > li:hover > a {
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
  color: white;
  background: #fa4f00;

}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li a {
  background: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: inset 0 1px 0 #f1f1f1;
  -moz-box-shadow: inset 0 1px 0 #f1f1f1;
  -webkit-box-shadow: inset 0 1px 0 #f1f1f1;
 
  color: #000000;
  display: block;
  line-height: 50%;
  padding: 15px 20px;
  font-size: 13px;
}

#cssmenu .has-sub ul li:hover a {
  background: #ffffff;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #f1f1f1;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #f1f1f1;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
}

/*PADRÕES Tela de scout */

/* Espaço para drag e drop dos atletas */

.slot {
	background: #FF9900;
	width: 60px;
	height: 80px;
	display: block;
}

.botoesScout{
	width:70px; 
	height:70px;
	background-color: red;
	white-space: pre;
}

}